@use '../config/function.scss' as *;
@use '../config/theme.scss'    as *;
@use '../config/mixins.scss'   as *;


.boxofficer {
    @include components (100%, auto, rem(8px));
    overflow : hidden;
    
    &__card,
    &__crews {
        width   : 100%;
        padding : rem(12px);
    }
    
    &__card {
        display     : flex;
        align-items : center;
        gap         : rem(12px);
    }
    
    &__crews {
        border-top : 1px solid var(--background);
        
        @include mediaquery (mobile) {
            display : none;
        }
    }

    &__poster {
        @include components (rem(96px), auto, rem(4px));
        overflow : hidden;
    }
    
    &__datasheet {
        width           : 100%;
        height          : rem(116px);
        display         : flex;
        flex-direction  : column;
        justify-content : space-between;
    }

    &__header,
    &__footer {
        width           : 100%;
        // height          : 100%;
        display         : flex;
        justify-content : space-between;
        align-items     : flex-start;
    }

    &__number {
        @include font (var(--caption), var(--heading-3), 600);
    }

    &__score {
        @include font (var(--components), var(--heading-6), normal);
        background    : rgba($tonal-second, .8);
        padding       : rem(2px) rem(4px);
        border-radius : rem(4px);
    }

    &__content {
        @include font (var(--content), var(--heading-5), 600);
        line-height: rem(16px);
    }
    
    &--content {
        color       : var(--content-alt);
        font-size   : var(--heading-6);
        font-weight : normal;
    }

    &__characters {
        width           : 100%;
        height          : 100%;
        display         : flex;
        justify-content : space-between;
        align-items     : center;
    }
    
    &__actor {
        width         : rem(64px);
        height        : rem(90px);
        border-radius : rem(4px);
        overflow      : hidden;
        position      : relative;
        opacity       : .4;
        transition    : .5s all;

        &:hover {
            opacity : 1;
        }
    }
}